{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Eco Yatra</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Faster+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Faster+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" 
            rel="stylesheet">
    </head>
    <body>
        <section id="home">
            <div id="behind"></div>
            <div id="front-home">
                <div id="nav-bar">
                    <div id="nav-left">
                        <span id="webname" style="line-height: 1;">&nbsp;Eco<br>Yatra</span>
                    </div>
                    <div id="nav-middle">
                        <a id="home-ref" href="#home">Home</a>
                        <a id="about-ref" href="#about">About Us</a>
                        <a id="packages-ref" href="#recommendations">Packages</a>
                    </div>
                    <div id="nav-right">
                        <svg style='cursor:pointer;' xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960"  fill="#FF7A00" onclick="window.location.href='#popular'">
                            <path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/>
                        </svg>
                        {% if uid %}
                            <img id="goto-login" style="width:48%;height: 45%;max-width: 48%;max-height: 45%;cursor: pointer;" src="{% static 'Images/profiles/default.png' %}"  data-url="{% url 'website:account' %}"
                            >
                        {% else %}
                            <img id="goto-login" style='cursor:pointer;' src="{% static 'Images/account.svg' %}"   data-url="{% url 'website:login' %}">
                        {% endif %} 
                    </div>
                </div>
                <div id="title-div"><span>Your Imagination Is</span> <p>Your Only Limit</p></div>
                <div id="title-sub-div">
                    <span>Your satisfaction is our main priority</span>
                </div>
                <button id="title-button" onclick="window.location.href='#recommendations'">Discover more</button>
            </div>
        </section>
        <section id="mixed">
            <div id="mixed-top" >
                <div id="mt-ticket">
                    <img src="{% static 'Images/ticket.png' %}">
                    <span class="mt-bolder">Ticket Booking</span>
                    <span class="mt-lighter">We book all kind of national ticket for<br>
                    your destination</span>
                </div>
                
                <div id="mt-booking">
                    <img src="{% static 'Images/carbon_hotel.png' %}">
                    <span class="mt-bolder">Hotel Booking</span>
                    <span class="mt-lighter">You can easily book hotel according to your <br>
                    budget through our website</span>
                </div>
                
                <div id="mt-tour">
                    <img src="{% static 'Images/tour-icon.png' %}">
                    <span class="mt-bolder">Tour Plan</span>
                    <span class="mt-lighter">We provide you the best plan within a short<br>
                    time</span>
                </div>
            </div>
            <div id="mixed-bottom">
                <div id="mb-title">
                    <span class="title-for-bolder" onclick="window.location.href='#mixed'">
                        We always try to give you <br>the best service
                    </span>
                    <span id="mb-subtitle">
                        We always try to make our customers Happy. We provide all kind of <br>
                        facilities. Your Satisfaction is our main priority.
                    </span>
                </div>
                <div id="mb-info">
                    <div>
                        <img src="{% static 'Images/mb-calendar.png' %}">
                        <span class="mb-info-bolder">15+</span>
                        <span class="mb-info-lighter">Years of<br>Experience</span>
                    </div>
                    <div>
                        <img src="{% static 'Images/mb-travelers.png' %}">
                        <span class="mb-info-bolder">15k+</span>
                        <span class="mb-info-lighter">Happy<br>Travellers</span>
                    </div>
                    <div>
                        <img src="{% static 'Images/mb-map.svg' %}">
                        <span class="mb-info-bolder">650+</span>
                        <span class="mb-info-lighter">Places Visited</span>
                    </div>
                    <div>
                        <img src="{% static 'Images/mb-history.png' %}">
                        <span class="mb-info-bolder">2k+</span>
                        <span class="mb-info-lighter">Travel History</span>
                    </div>
                </div>
            </div>
        </section>
        <section id="popular">
            <span id="pop-title" onclick="window.location.href='#popular'" >Our Popular Destinations</span>
            <div id='map-div'>
                <div class="locators" id="pokhara-locator">
                    <div></div>
                </div>
                <div class="locators" id="mustang-locator">
                    <div></div>
                </div>
                <div class="locators" id="rara-locator">
                    <div></div>
                </div>
            </div>
            <div id="destinations">
                <div class="destination-single">
                    <img src="{% static 'Images/pokhara.png' %}" class="popular-images">
                    <span class="pop-dest-title">
                        Pokhara
                    </span>
                    <div class="pop-dest-detail">
                        <span>20+ Spots</span>
                        <span>2D & 3N</span>
                    </div>
                    <img src="{% static 'Images/next-icon.png' %}" class="next-icon">
                </div>

                <div class="destination-single">
                    <img src="{% static 'Images/mustang.png' %}" class="popular-images">
                    <span class="pop-dest-title">
                        Mustang
                    </span>
                    <div class="pop-dest-detail">
                        <span>25+ Spots</span>
                        <span>3D & 3N</span>
                    </div>
                    <img src="{% static 'Images/next-icon.png' %}" class="next-icon">
                </div>

                <div class="destination-single">
                    <img src="{% static 'Images/rara.png' %}" class="popular-images">
                    <span class="pop-dest-title">
                        Rara
                    </span>
                    <div class="pop-dest-detail">
                        <span>20+ Spots</span>
                        <span>3D & 2N</span>
                    </div>
                    <img src="{% static 'Images/next-icon.png' %}" class="next-icon">
                </div>
                <div class="destination-single">
                    <img src="{% static 'Images/pokhara.png' %}" class="popular-images">
                    <span class="pop-dest-title">
                        Pokhara
                    </span>
                    <span class="pop-dest-detail">

                    </span>
                    <img src="{% static 'Images/next-icon.png' %}" class="next-icon">
                </div>
            </div>
        </section>
        <section id="recommendations">
            <span id="rec-title" onclick="window.location.href='#recommendations'">Best Packages For You</span>
            <div id="filters">
                <button onclick="" id="hot-button" class="filter-buttons" >Hot Deals</button>
                <button id="backpack-button" class="filter-buttons">Backpack</button>
                <button id="honeymoon-button" class="filter-buttons">Honeymoon</button>
                <button id="rafting-button" class="filter-buttons">Rafting</button>
                <button id="himalayan-button" class="filter-buttons">Himalayan</button>
                <button id="more-button" class="filter-buttons">More</button>
            </div>
            <div id="discover-contents-closed">
                <div class="discover-content">
                    <img src="{% static 'Images/lumbini.png' %}">
                    <div class="package-info">
                        <span class="package-time">3 Days, 2 Nights</span>
                        <span class="package-rate">NRP 999 / Person</span>
                    </div>
                    <span class="package-desc">Explore the Beauty of the birth place of lord Buddha
                        for 3 days and 2 nights with our travel agency</span>
                    <div class="discover-content-bottom">
                        <div>
                        <img src="{% static 'Images/location.svg' %}" class="location-icon">
                        <span class="package-location">Lumbini</span>
                        </div>
                        <span class="know-more">Know More</span>
                    </div>
                </div>

                <div class="discover-content">
                    <img src="{% static 'Images/nagarkot.png' %}">
                    <div class="package-info">
                        <span class="package-time">3 Days, 2 Nights</span>
                        <span class="package-rate">NRP 999 / Person</span>
                    </div>
                    <span class="package-desc">Enjoy the mystical views and top hills  in 
                        this beautiful country</span>
                    <div class="discover-content-bottom">
                        <div >
                        <img src="{% static 'Images/location.svg' %}" class="location-icon">
                        <span class="package-location">Nagarkot</span></div>
                        <span class="know-more">Know More</span>
                    </div>
                </div>

                <div class="discover-content">
                    <img src="{% static 'Images/everest.png' %}">
                    <div class="package-info">
                        <span class="package-time">3 Days, 2 Nights</span>
                        <span class="package-rate">NRP 999 / Person</span>
                    </div>
                    <span class="package-desc">Explore the majestic mountains and 
                        landscapes day and nights</span>
                    <div class="discover-content-bottom">
                        <div >
                        <img src="{% static 'Images/location.svg' %}" class="location-icon">
                        <span class="package-location">Everest Base camp</span></div>
                        <span class="know-more">Know More</span>
                    </div>
                </div>
            </div>
            <button id="discover-more">Discover More</button>
        </section>
        <section id="info">
            <span id="info-title" onclick="window.location.href='#info'">Book Your Next Trip in 3 Easy Steps</span>
            <span id="info-subtitle">Easy and Fast</span>
            <div id="info-bottom">
                <div id="info-left">
                    <div class="info-left-single">
                        <img src="{% static 'Images/info-left-1.png' %}">
                        <div>
                            <span class="info-left-title">Choose Destination</span>
                            <span class="info-left-subtitle">Have a best choice in destination, package and 
                                <br>entertainment. </span>
                        </div>
                    </div>
                    
                    <div class="info-left-single">
                        <img src="{% static 'Images/info-left-2.png' %}">
                        <div>
                            <span class="info-left-title">Make Payment</span>
                            <span class="info-left-subtitle">Easy medium of payment, use online medium.
                                <br>&nbsp; </span>
                        </div>
                    </div>
                    
                    <div class="info-left-single">
                        <img src="{% static 'Images/info-left-3.png' %}">
                        <div>
                            <span class="info-left-title">Reach Airport on Selected Date</span>
                            <span class="info-left-subtitle">Have a best travelling experience and reach to <br>
                                destination in time.
                                 </span>
                        </div>
                    </div>
                </div>
                <div id="info-right">
                    <div id="info-right-under">
                        <img src="{% static 'Images/info-image.jpg' %}">
                        <span style="font-size: 18px;font-weight: 550;color: 080809;">Trip To Ilam</span>
                        <span style="color: #84829A;height: fit-content;">14-29 June| by Raghav Raj Shrestha</span>
                        <div id="info-circular-icons">
                            <div>
                                <img src="{% static 'Images/info-leaf.png' %}">
                            </div>
                            <div>
                                <img src="{% static 'Images/info-book.png' %}">
                            </div>
                            <div>
                                <img src="{% static 'Images/info-send.png' %}">
                            </div>
                        </div>
                        <div id="info-rightbottom-div">
                            <div>
                            <img src="{% static 'Images/info-building.png' %}" style="padding-left: 6px;">
                            <span>24 people going</span>
                            </div>
                            <img src="{% static 'Images/info-heart.png' %}" style="padding-right: 8px;">
                        </div>
                    </div>
                    <div id="info-right-over" style="z-index: 100;">
                        <img src="{% static 'Images/info-overlay.png' %}">
                        <div id="overlay-bottom">
                            <span style="color: #84829A;font-size: 14px;">
                                Ongoing
                            </span>
                            <span style="font-size: 15px;font-weight: 650;">
                                Trip to Chitwan
                            </span>
                            <span style="font-size: 12px;padding-top:10px;font-weight: bold;">
                                <span style="color: #8A79DF;font-weight: 500;">40%&nbsp;</span>Completed
                            </span>
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <section id="about">
            <span onclick="window.location.href='#about'">What People Say About Us</span>
            <div id="about-back">
                <img src="{% static 'Images/about-img.jpg' %}">
            </div>
            <div id="about-info">
                <img src="{% static 'Images/test.png' %}">
                <span style="font-size: 18px;">"Seamless booking, great recommendations, and <br> excellent support perfect for Nepal travel!"</span>
                <span style="font-size: 20px;font-weight: 650;">-Hamro Jugal Sir</span>
            </div>
        </section>
        <section id="contacts">
            <div id="contacts-overlay">
                <img src="{% static 'Images/contacts-send-icon.png' %}" >
            </div>
            <div id="contact-top">
                <span onclick="window.location.href='#contacts'">Subscribe to get information, latest news and other
                    <span>
                    interesting offers about us
                    </span>
                </span>
                
                <div id="contact-input">
                    <img src="{% static 'Images/contacts-mail-icon.svg' %}">
                    <form name="contacts-form" id="contacts-form">
                    <input type="email" placeholder="Your email" name="contactemail">
                    <button type="submit" >Subscribe</button>
                    </form>
                </div>
                <img src="{% static 'Images/contacts-shadow.png' %}">
            </div>
            <div id="contacts-bottom">
                <div id="sub-left">
                    <span style="display: flex;flex-direction: column;
                    align-items: center;font-weight: 700;font-size: 24px;
                    font-family: 'Laila'; line-height: 0.9;
                    cursor: pointer;" onclick="window.location.href='#home'">
                    Eco<span>Yatra</span></span>
                    <span style="color: #5E6282;font-size: 14px;">
                        Book your trip in minute, get full<br>
                        Control for much longer.
                        </span>
                </div>
                <div id="sub-middle">
                    <div id="middle-left">
                        <span class="contacts-bolder">Company</span>
                        <span class="contacts-lighter">About</span>
                        <span class="contacts-lighter">Careers</span>
                        <span class="contacts-lighter">Mobile</span>

                    </div>
                    <div id="middle-mid">
                        <span class="contacts-bolder">Contact</span>
                        <span class="contacts-lighter">HelpFAQ</span>
                        <span class="contacts-lighter">Press</span>
                        <span class="contacts-lighter">Affiliates</span>
                    </div>
                    <div id="middle-right">
                        <span class="contacts-bolder">More</span>
                        <span class="contacts-lighter">Attributes</span>
                        <span class="contacts-lighter">Airline</span>
                        <span class="contacts-lighter">Low fare tips</span>
                    </div>
                </div>
                <div id="sub-right">
                    <div id="facebook-logo">f</div>
                    <div id="instagram-logo">
                        <div >
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span id="cc">All rights reserved@raghav.don</span>
        </section>

        <script src="{% static 'javascript/index.js' %}" ></script>
    </body>
</html>