{% load static %}
{% for package in top_packages %}
<div class="discover-content">
    <img src="{% static 'Images/'%}{{ package.destination.image }}">
    <div class="package-info">
        <span class="package-time">{{ package.time }}</span>
        <span class="package-rate">NRP&nbsp;{{ package.price_in_k }}K / person</span>
    </div>
    <span class="package-desc">{{ package.desc }}</span>
    <div class="discover-content-bottom">
        <div>
            <img src="{% static 'Images/location.svg' %}" class="location-icon">
            <span class="package-location">{{ package.destination.name }}</span>
        </div>
        <a class="book-now" href="{% url 'website:booking' %}?id={{ package.id }}">Book Now</a>
    </div>
</div> 
{% endfor %}