{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Eco Yatra</title>
        <meta name="description" content="">
        <script type="text/javascript">
            var eyeClosedSrc = "{% static 'Images/eye_closed.svg' %}";  
            var eyeOpenSrc = "{% static 'Images/eye_open.svg' %}";      
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Faster+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" 
            rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/regform.css' %}">
    </head>
    <body>
        {% if alert %}
        <script type="text/javascript"> 
            alert("{{alert}}")
        </script>
        {% endif %}
        <div id="login-div">
            <div id="title-div">
                <span id="title-head">Get Started Now!</span>
                <span id="title-sub">Enter your Credentials to access your account</span>
            </div>
            <form method="POST" name="regform" id="reg-form">
                {% csrf_token %}
                <label for="fullname">Full Name</label><br>
                <input type="text" name="fullname" id="name" class="input-field" placeholder="John Doe" ><br>
                <label for="email">Email address</label><br>
                <input type="email" name="reg-email" id="email" class="input-field" placeholder="abc@example.com" ><br>
                <label for="password">Password</label> <br>
                <div id="password-div">
                    <input type="password" name="reg-password" id="reg-password" class="input-field" placeholder="password">
                    <img src="{% static 'Images/eye_open.svg' %}" id="show-pass" onclick="togglePasswordVisibility()">
                </div>
                <input type="checkbox" name="terms" value="false" id="terms" required>
                <span id="rem-label">I agree to the <a href="#" id="terms-ref">terms & policies</a></span><br>
                <button type="submit" id="submit-button">Sign Up</button>
            </form>
            <span id="another-form">Have an account?&nbsp;<a href="{% url 'website:login' %}">Log In</a></span>
        </div>
        <script src="{% static 'javascript/regform.js' %}" async defer></script>

        <div id="img-div">
            <img src="{% static 'Images/login-background1.png' %}" id="login-img-1">
            <img src="{% static 'Images/login-background2.png' %}" id="login-img-2">
            <img src="{% static 'Images/login-background3.png' %}" id="login-img-3">
            <img src="{% static 'Images/login-background4.png' %}" id="login-img-4">
            <img src="{% static 'Images/login-background5.png' %}" id="login-img-5">
        </div>
    </body>
</html>